<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sharpen</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Icons -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/chartist.min.css">
  <link rel="stylesheet" href="assets/css/app.min.css">
  
  <!-- Modernizr -->
  <script src="assets/js/modernizr-2.8.3.min.js"></script>

  
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Header -->
  <header id="header">
    <h1 class="logo">
      <a href="#" title="#" class="js-nav-toggler">
        <i class="icon icon-close"></i>
      </a>
      <a href="#" title="#">Shar<span>pen</span></a>
    </h1>

    <div class="pageContent">
      <div class="container">
        <ul class="topNavigation">
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-email zmdi-hc-fw icon"></i>
              <span class="badge">6</span>
            </a>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i>
              <span class="badge">98</span>
            </a>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-settings zmdi-hc-fw icon"></i>
            </a>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-search zmdi-hc-fw icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <aside class="aside">
    <!-- User profile -->
    <div class="asideUserProfile">
      <a href="user-profile.html" title="#" class="c">
        <img src="tmp/210x210.jpg" alt="#" class="img-responsive">
        <span class="name hidden-xs hidden-sm">Patricia<br /> Brown-Johnes</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="simpleList asideNavigation">
      <ul>
        <li><a href="dashboard.html" title="#"><i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span></a></li>
        <li><a href="typography.html" title="#"><i class="zmdi zmdi-format-color-text zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Typography</span></a></li>
        <li><a href="gallery-grid.html" title="#"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Grid</span></a></li>
        <li><a href="tables.html" title="#"><i class="zmdi zmdi-view-day zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Tables</span></a></li>
        <li><a href="forms.html" title="#"><i class="zmdi zmdi-border-color zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Forms</span></a></li>
        <li class="sub js-submenu">
          <div><i class="zmdi zmdi-tune zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">UI elements <i class="zmdi zmdi-plus plus"></i></span></div>

          <ul>
            <li><a href="color-schemes.html" title="#">Color schemes</a></li>
            <li><a href="icons.html" title="#">Icons</a></li>
            <li><a href="modals.html" title="#">Modals</a></li>
            <li><a href="alerts.html" title="#">Alerts</a></li>
            <li><a href="accordion.html" title="#">Accordion</a></li>
            <li><a href="tabs.html" title="#">Tabs</a></li>
            <li><a href="buttons.html" title="#">Buttons</a></li>
          </ul>
        </li>
        <li class="sub js-submenu">
          <div><i class="zmdi zmdi-format-clear-all zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Pages <i class="zmdi zmdi-plus plus"></i></span></div>

          <ul>
            <li><a href="user-profile.html" title="#">User Profile</a></li>
            <li><a href="cards.html" title="#">Cards</a></li>
            <li><a href="login.html" title="#">Sign In</a></li>
            <li><a href="sign-up.html" title="#">Sing Up</a></li>
            <li><a href="forgot-password.html" title="#">Forgot Password</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  
  <!-- Page Wrap -->
  <div class="pageWrap">

    <!-- Page content -->
    <div class="pageContent extended">
      <div class="container">
        <div class="boxHeader pageBoxHeader clearfix">
          <h1 class="pageTitle pull-left">
            <a href="#" title="#">Dashboard</a>
          </h1>
          <div class="btn-group pull-right boxHeaderOptions">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Today</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Yesterday</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last week</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last month</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Statsbar -->
        <div class="statsBar">
          <div class="row">
            <div class="col-xs-12 col-md-4 i yellow">
              <a href="#" title="#" class="c">
                <h3 class="title">Website traffic</h3>
                <div class="num">256,521</div>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 i pink">
              <a href="#" title="#" class="c">
                <h3 class="title">Files downloaded</h3>
                <div class="num">5,478,123</div>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 i green">
              <a href="#" title="#" class="c">
                <h3 class="title">Total sales</h3>
                <div class="num">14,789</div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="box box-without-padding">

              <div class="clearfix boxHeader">
                <h2 class="boxTitle pull-left">Traffic overview</h2>
                <div class="btn-group pull-right boxHeaderOptions">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
                    <li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
                    <li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
                  </ul>
                </div>  
              </div>

              <!-- Tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab">Countries</a></li>
                <li role="presentation"><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab">Used devices</a></li>
              </ul>

              <div class="tab-content">

                <!-- Countries -->
                <div role="tabpanel" class="tab-pane fade in active" id="tab-item-1">
                  <div id="donut-chart"></div>

                  <div class="row statsInfo clearfix">
                    <div class="col-xs-6 i">
                      <div class="count">256,521</div>
                      <div class="text">monthly total</div>
                    </div>
                    <div class="col-xs-6 i">
                      <div class="count">10,907</div>
                      <div class="text">today total</div>
                    </div>
                  </div>
                </div>

                <!-- Used devices -->
                <div role="tabpanel" class="tab-pane fade" id="tab-item-2">
                  <div class="side-padding-25">
                    <p>Mauris vitae felis vel velit rutrum accumsan. Sed quis vehicula purus. In non sem bibendum, gravida nisl in, lacinia elit. Sed vel tortor ligula. Mauris consectetur massa ac tellus vestibulum tempus non et augue. Vivamus condimentum in justo eu ornare. Curabitur arcu tellus, venenatis pulvinar ultricies vitae, vulputate id enim. Fusce eros ex, venenatis sit amet magna at, tempor interdum sem. Sed at erat eget lacus condimentum ultrices a in est. Morbi vitae dolor ut ex dignissim molestie eget facilisis ligula. Phasellus ornare interdum leo, ut facilisis sem pretium ut. Vivamus semper feugiat fermentum. Nam eu maximus mi.</p>
                    <p>Proin laoreet accumsan odio interdum mattis. In et ante elementum, pharetra neque nec, maximus metus. In eu tristique risus. Vivamus tempor id sapien id lacinia. Ut tincidunt quam sed tortor lacinia, quis vulputate odio faucibus. Donec cursus vel diam a molestie. Praesent sit amet viverra diam. Phasellus eleifend blandit varius. Integer scelerisque massa vitae felis consequat blandit.</p>
                  </div>

                  <div class="row statsInfo clearfix">
                    <div class="col-xs-6 i">
                      <div class="count">256,521</div>
                      <div class="text">monthly total</div>
                    </div>
                    <div class="col-xs-6 i">
                      <div class="count">10,907</div>
                      <div class="text">today total</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-6 ct-pie-chart">
                <div class="box box-without-padding">
                  <div id="ct-chart-1" class="ct-perfect-fourth"></div>
                  <div class="text">Free storage</div>
                  <div class="info"><span>77</span>%</div>
                </div>
              </div>
              <div class="col-xs-6 ct-pie-chart">
                <div class="box box-without-padding">
                  <div id="ct-chart-2" class="ct-perfect-fourth"></div>
                  <div class="text">Bandwidth</div>
                  <div class="info"><span>1,5</span>Gb/s</div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="box box-without-padding">
                  <div class="clearfix boxHeader">
                    <h2 class="boxTitle pull-left">Recent tasks</h2>
                    <div class="btn-group pull-right boxHeaderOptions">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
                        <li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
                        <li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
                      </ul>
                    </div>  
                  </div>

                  <div class="recentTasks">
                    <div class="checkboxes checkboxes-sm">
                      <div class="i">
                        <label>
                          <input type="checkbox">
                          <span>Lorem ipsum dlores amet voluptates quidem</span>
                        </label>
                      </div>
                      <div class="i">
                        <label>
                          <input type="checkbox" checked>
                          <span>Voluptates iusto quidem harem rerum</span>
                        </label>
                      </div>
                      <div class="i">
                        <label>
                          <input type="checkbox">
                          <span>Nullam iusto ducimus 24/7</span>
                        </label>
                      </div>
                      <div class="i">
                        <label>
                          <input type="checkbox">
                          <span>Curabitur arcu massa</span>
                        </label>
                      </div>
                      <div class="i">
                        <label>
                          <input type="checkbox">
                          <span>Aenean imperdiet eros eu ante aliquet</span>
                        </label>
                      </div>
                      <div class="i">
                        <label>
                          <input type="checkbox">
                          <span>In vulputate ac turpis at pellentesque</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Sharpen stats -->
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="box box-without-padding">
              <div class="bgTitle">
                <h3 class="boxTitle">Sharpen</h3>
              </div>
              <div class="simpleList simpleListLighten">
                <ul>
                  <li>
                    <a href="#" title="#" class="clearfix">
                      <span class="pull-left"><i class="zmdi zmdi-accounts-add zmdi-hc-fw icon"></i> Followers</span>
                      <span class="pull-right info">109,073</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="#" class="clearfix">
                      <span class="pull-left"><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw icon"></i> Subscribers</span>
                      <span class="pull-right info">26,114</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="#" class="clearfix">
                      <span class="pull-left"><i class="zmdi zmdi-assignment-o zmdi-hc-fw icon"></i> Products sold</span>
                      <span class="pull-right info">1,557,669</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="#" class="clearfix">
                      <span class="pull-left"><i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i> Awards</span>
                      <span class="pull-right info">14</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Charts -->
          <div class="col-xs-12 col-sm-6 col-lg-3 pull-right">

            <!-- Sales -->
            <div class="box box-without-padding">
              <div id="line-chart-1-wrap" class="line-chart-wrap">
                <div class="clearfix boxHeader">
                  <h2 class="boxTitle pull-left">Sales</h2>
                  <div class="btn-group pull-right boxHeaderOptions">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
                      <li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
                      <li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
                    </ul>
                  </div>
                </div>

                <div class="clearfix stats">
                  <div class="count pull-left">2,547</div>
                  <div class="info pull-left">Last month<br /><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> 4%</div>
                </div>

                <div id="line-chart-1" class="line-chart"></div>
              </div>
            </div>
            
            <!-- Subscribers -->
            <div class="box box-without-padding">
              <div id="line-chart-2-wrap" class="line-chart-wrap">
                <div class="clearfix boxHeader">
                  <h2 class="boxTitle pull-left">Subscribers</h2>
                  <div class="btn-group pull-right boxHeaderOptions">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
                      <li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
                      <li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
                    </ul>
                  </div>
                </div>

                <div class="clearfix stats">
                  <div class="count pull-left">32,547</div>
                  <div class="info pull-left">Last month<br /><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> 4%</div>
                </div>

                <div id="line-chart-2" class="line-chart"></div>
              </div>
            </div>
          </div>

          <!-- Recent orders -->
          <div class="col-xs-12 col-lg-6">
            <div class="box box-without-padding">
              <div class="clearfix boxHeader boxHeaderBorders">
                <h2 class="boxTitle pull-left">Recent orders</h2>
                <div class="btn-group pull-right boxHeaderOptions">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Time span</a></li>
                    <li><a href="#" title="#"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Chart type</a></li>
                    <li><a href="#" title="#"><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Refresh</a></li>
                  </ul>
                </div>  
              </div>

              <div class="simpleList simpleListImages">
                <ul>
                  <li>
                    <a href="#" title="#">
                      <i class="zmdi zmdi-chevron-right arrow"></i>
                      <div class="image">
                        <img src="tmp/iphone.png" alt="#" width="81" height="66">
                      </div>
                      iPhone 6s + Apple Green cover IU/T
                      <span class="info">6 min. ago</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="#">
                      <i class="zmdi zmdi-chevron-right arrow"></i>
                      <div class="image">
                        <img src="tmp/macbook.png" alt="#" width="96" height="60">
                      </div>
                      MacBook Pro 15 "Retina CZ 2014
                      <span class="info">9 min. ago</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="#">
                      <i class="zmdi zmdi-chevron-right arrow"></i>
                      <div class="image">
                        <img src="tmp/samsung.png" alt="#" width="65" height="73">
                      </div>
                      Samsung Galaxy S6 edge (SM-G925F) 32GB Black Sapphire
                      <span class="info">15 min. ago</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery-ui.min.js"></script>
  <script src="assets/js/select2.min.js"></script>
  <script src="assets/js/parsley.min.js"></script>
  <script src="assets/js/throttle-debounce.min.js"></script>
  <script src="assets/js/jquery.shuffle.min.js"></script>
  <script src="assets/js/autosize.min.js"></script>
  <script src="assets/js/raphael-min.js"></script>
  <script src="assets/js/morris.min.js"></script>
  <script src="assets/js/Chart.min.js"></script>
  <script src="assets/js/chartist.min.js"></script>
  <script src="assets/js/app.min.js"></script>

  <div class="visible-xs visible-sm extendedChecker"></div>
</body>
</html>