<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Last Minute List</a>
      <a href="#" class="pull-left"><img src="/path/to/image.png"></a>
      <!-- <a class="navbar-brand" href="#"> -->
      <!-- <img alt="Brand" src="..."> -->
      </a>
    </div>
  </div>
</nav>