<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Last Minute List</title>

</head>
<body>
  <h1>Woot woot!</h1>

 <button class="btn btn-inverse :hover">Hover</button>
 <button class="btn btn-primary">Primary</button>  




</body>
</html>