<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Messages</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Shared Resoures for the Dashboard -->

  <!-- why I need to put fontawseome here I do not know -->
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' %>
  
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div id="container">
  
  <div class="alert alert-success alert-dismissible" role="alert">
    <strong>Yay!</strong> Everything worked :-)
  </div>

<h1>Successs!</h1>
<p>You're on the list.</p>
<p>To unsubscribe you can always text UNSUBSCRIBE to any messages.</p>